body {
  margin: -21px 0 0 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #666;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


div#root {
  width:95%;
  max-width: 950px;
  margin: 0 auto;
  background-color: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
  h1 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
  }
  div.searchUrl {
    text-align: center;
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: 600;
    color: #333;
  }
  form {
    margin: 0 auto;
    label {
      display: block;
      text-align:  center;
      margin-bottom: 15px;
    }
    input {
      display:block;
      margin: 0 auto;
      height: 40px;
      font-size: 22px;
      padding: 10px 4px;
      border: 1px solid #eee;
      outline: 0;
      text-align:  center;
    }
    .loader {
      text-align: center;
      display:none;
    }
    ul {
      padding: 0 20px;
    }
    & > div {
      display:block;
      div.movie_result {
        display:block;
        margin-bottom: 50px;
        height: auto;
        min-height: 200px;
        border-top: 1px dashed #333;
        padding-top: 20px;
        padding-bottom: 20px;
      }
      .image {
        width: 15%;
        float:left;
        margin-right: 3%;
        img {
          width: 100%;
        }
      }
      .info {
        width:75%;
        float:right;
        h2.title {
          margin-top: 0;
          font-size: 20px;
        }
        h3.date_released {
          font-size: 12px;
          font-weight: normal;
        }
        p {
          font-size: 14px;
        }
        .average {
          color: #a86c29;
          font-weight: bold;
        }
      }
    }
  }
}